<html>

<head>
<title>Lecturing and Tutoring</title>
</head>

<body>

<p>
<b>Guest Lecturing</b>
<p>
Sociolinguistics unit of Linguistics 101: Language and Communication 
<p>
•	Topics included: inclusive language; language, gender, and sexuality; and sociolinguistics in practice through in-grouping and othering
<p>
•	March 2023, April 2024
<p>
<b>Tutoring</b>
<p>
Linguistics 101: Language and Communication 
<p>
•	Trimester 1, 2023
<p>
Linguistics 111: The Science of Language
<p>
•	Trimester 2, 2023


</body>
</html>
