<html>

<head>
<title>Presentations</title>
</head>

<body>

<p>
Phonetic variation as a function of sexual orientation by queer women in Wellington - Lab Speech Recordings
<p>
•	LALS seminar, Wellington, NZ - 07/2024
<p>
•	LAGB 2024, Newcastle, UK - 08/2024
<p>
A multi-case study of style shifting in the speech of Rainbow women
<p>
•	Lavender Languages 30, Brighton, UK - 08/2024
<p>
A case study of phonetic variation as a function of sexual orientation by Rainbow women – Dani
<p>
•	Sociolinguistics Symposium 25, Perth, Australia - 06/2024
<p>
A case study of phonetic variation as a function of sexual orientation by Rainbow women – Corrine
<p>
•	Language and Society Conference 2023, Linguistic Society of New Zealand, Auckland, NZ - 11/2023
<p>
Variation in pronunciation as a function of sexual orientation by Rainbow women
<p>
•	Rainbow Studies Now! VUW Rainbow Research Network, Wellington, NZ - 11/2023
<p>
Lesbian pitch level and span: A case study of Cameron Esposito
<p>
•	1st International Conference on Tone and Intonation (TAI), online - 12/2021
<p>
Pitch and pitch variation as a function of sexual orientation in lesbian podcasters, MA dissertation
<p>
•	Lancaster University Phonetics Lab, Department of Linguistics and English Language, Lancaster, UK - 11/2021
<p>
Lesbian and heterosexual podcasters: variation in vowel duration in scripted vs unscripted speech
<p>
•	UK Language Variation and Change 13, online - 9/2021
<p>
•	7th Postgraduate Academic Researchers in Linguistics at York Conference, online - 9/2021


</body>
</html>