<html>

<head>
<title>Publications</title>
</head>

<body>

<p>
Herubin, A. (2026). Dynamic queer identities and sociophonetic variation. In M. Stegu, B. J. L. Rowlett, and J. Chojnicka (Eds), <i>Advancing Applied Queer Linguistics: From theory to practice </i>. Bloomsbury. 
<p>
Herubin, A. (2024, December 2 – 5). <i>“I adopt my freshness”: Exploring style shifting by a Rainbow Māori New Zealander </i> [Poster presentation]. The 19th Australasian International Conference on Speech Science and Technology, Melbourne, Australia. <a href="https://assta.org/wp-content/uploads/2024/11/SST2024_I-adopt-my-freshness-Exploring-style-shifting-by-a-Rainbow-Maori-New-Zealander_Herubin.pdf">HerubinAbstract.pdf</a> 

<p>
Herubin, A. (2021). Lesbian Pitch Level and Span: A Case Study of Cameron Esposito. <i>Proceedings of 1st International Conference on Tone and Intonation (TAI) </i>, 147-150. <a href="https://doi.org/10.21437/TAI.2021-30">https://doi.org/10.21437/TAI.2021-30</a>



</body>
</html>
